<h1>HOOOLA</h1>
<marquee>LOL</marquee>
<h2>{{title}}</h2>
<ul>
  <li>Uno</li>
  <li>Dos</li>
  <li>Tres</li>
</ul>

<p>{{1+2}}</p>

<button (click)="changeTitle()">Nuevo título</button>

<!--DIRECTIVAS DE ESTRUCTURA-->

<!--*ngFor-->
<p>Hay {{verCantidadBandas()}} bandas de rock.</p>

<ol>
  <li *ngFor="let banda of rockBands">{{banda}}</li>
</ol>

<marquee direction="right">LOL</marquee>

<!--*ngIf-->
<div *ngIf="verCantidadBandas() > 8; else elseBlock">Hay más de una banda</div>
<ng-template #elseBlock>Hay menos de 8 bandas</ng-template>

<!--*ngSwitch-->
<hr>
<div [ngSwitch]="verCantidadBandas()">
  <span *ngSwitchCase="4">Hay más de 4 bandas</span>
  <span *ngSwitchCase="5">Hay más de 5 bandas</span>
  <span *ngSwitchCase="6">Hay más de 6 bandas</span>
</div>
<hr>
<!-- *ngModel-->
<!-- ngModel se debe agregar en el app.module.ts,
en el import de @NgModule ...FormsModule -->

<input type="text" [(ngModel)]="rockBandName">{{rockBandName}}
<button (click)="agregarNuevaBanda()">Agregar banda</button>

<!--ENLACES
ONE WAY ...() O [] o {{}}
TWO WAY [()]
[(ngModel)] ==> va y viene
(ngModel) ==> va desde el html al componente (sube)
[ngModel] ==> viene desde el componente al html (baja)
-->
