<h1 class="bg-primary text-center text-white p-3">HOOOLA</h1>
<marquee class="bg-danger text-center">LOL</marquee>
<h2>{{title}}</h2>
<ul>
  <li>Uno</li>
  <li>Dos</li>
  <li>{{1+2}}</li>
</ul>

<button (click)="changeTitle()" type="button" class="btn btn-warning">Nuevo título</button>

<!--DIRECTIVAS DE ESTRUCTURA-->

<!--*ngFor-->
<p>Hay {{verCantidadBandas()}} bandas de rock.</p>

<ol>
  <li *ngFor="let banda of rockBands">{{banda}}</li>
</ol>

<marquee direction="right">LOL</marquee>
<br><br>

<!--*ngIf-->
<div *ngIf="verCantidadBandas() > 8; else elseBlock">Hay más de una banda</div>
<ng-template #elseBlock>
  <div class="text-danger">
    Hay menos de 8 bandas
  </div>
</ng-template>
<br><br>

<!--*ngSwitch-->
<hr>
<div [ngSwitch]="verCantidadBandas()">
  <span *ngSwitchCase="4">Hay más de 4 bandas</span>
  <span *ngSwitchCase="5">Hay más de 5 bandas</span>
  <span *ngSwitchCase="6">Hay más de 6 bandas</span>
</div>
<hr>
<br><br>

<!-- *ngModel-->
<!-- ngModel se debe agregar en el app.module.ts,
en el import de @NgModule ...FormsModule -->

<input type="text" [(ngModel)]="rockBandName">{{rockBandName}}
<button (click)="agregarNuevaBanda()">Agregar banda</button>

<br><br>
<!--ENLACES
ONE WAY ...() O [] o {{}}
TWO WAY [()]
[(ngModel)] ==> va y viene
(ngModel) ==> va desde el html al componente (sube)
[ngModel] ==> viene desde el componente al html (baja)
-->
<br>
<br>

<select [(ngModel)]="seleccion">
  <option value="BMW">BMW</option>
  <option value="Ford">Ford</option>
  <option value="KIA">KIA</option>
  <option value="Audi">Audi</option>
</select>{{seleccion}}

<select (value)="seleccion2" (change)="seleccion2 =$event.target.value">
  <option value="BMW">BMW</option>
  <option value="Ford">Ford</option>
  <option value="KIA">KIA</option>
  <option value="Audi">Audi</option>
</select>{{seleccion2}}
<br>

<br>
<div class="card" style="width: 18rem">
  <img class="bd-placeholder-img card-img-top"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png"
    role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
  <title>Placeholder</title>

  <div class="card-body">
    <h5 class="card-title">Angular</h5>
    <p class="card-text">
      Angular is a platform for building mobile and desktop web
      applications. Join the community of millions of developers who build
      compelling user interfaces ...
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Framework</li>
    <li class="list-group-item">Library</li>
    <li class="list-group-item">Life</li>
  </ul>
  <div class="card-body">
    <a href="http://www.google.com" target="_blank" class="card-link">Google</a>
    <a href="http://www.wikipedia.com" target="_blank" class="card-link">Wikipedia</a>
    <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>

  </div>
</div>
